@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #DC2626;
  --color-primary-dull: #991B1B;
}

* {
  font-family: "SN Pro", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;

}

body {
  color: white;
  background-color: #09090B;
}

.no-scrollbar {
  scrollbar-width: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}